@font-face {
  font-family: 'Monofonto';
  font-style: normal;
  font-weight: 400;
  src: url('https://webfonts.ffonts.net/webfonts/M/O/Monofonto/Monofonto.ttf.woff') format('woff');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
